{% extends 'base.html' %}
{% block head %}
<style>
    .search {
      font-size: 16px; /* Increase font-size */
      padding: 12px 20px 12px 40px; /* Add some padding */
      border: 1px solid #ddd; /* Add a grey border */
      margin-bottom: 12px; /* Add some space below the input */
      display: inline;
      width: 100%;
    }
</style>
{% endblock %}

{% block content %}
<h1>Reports</h1>
{% include 'reqs/cid/cidheader.html' with active='reports' %}
<div class="container-fluid">
<div class="row">
    <div class="col-lg-6">
        <input type="text" class="search" id="TeacherInput" onkeyup="SearchFunctionTeachers()" placeholder="Search for teachers . . .">
    </div>
    <div class="col-lg-6">
        <input type="text" class="search" id="ReqInput" onkeyup="SearchFunctionReqs()" placeholder="Search by requirements . . .">
    </div>
</div>
</div>

<div class="table-responsive">
<table id = "DataTable" class="table mb-0">
    <tr>
        <th> Requirement </th>
        <th> Subject </th>
        <th> Teacher </th>
        <th> Writer </th>
        <th> Date Added </th>
        <th> Content </th>
    </tr>
</table>
</div>
<!-- More Bootstrap things -->
<script>
    $(document).ready(function(){})

    // Load Tables

    var reportTable = {
        reports : {
            {% for report in reports %}
             {{ report|cut:" "|cut:"-"  }} : {
                requirement: "{{report.requirement}}",
                subject: "{{report.requirement.subject}}",
                teacher: "{{report.requirement.owner}}",
                writer : "{{ report.writer }}",
                dateAdded : "{{ report.dateAdded}}",
                content : "{{ report.content }}"
                }
            {% if not forloop.last  %}
                ,
            {% endif %}
            {% endfor %}
        },


        addRow : function(variable){
            var table = document.getElementById("DataTable");
            var row = table.insertRow(1);
            var cell1 = row.insertCell(0);
            var cell2 = row.insertCell(1);
            var cell3 = row.insertCell(2);
            var cell4 = row.insertCell(3);
            var cell5 = row.insertCell(4);
            var cell6 = row.insertCell(5);
            cell1.innerHTML = this.reports[variable].requirement;
            cell2.innerHTML = this.reports[variable].subject;
            cell3.innerHTML = this.reports[variable].teacher;
            cell4.innerHTML = this.reports[variable].writer;
            cell5.innerHTML = this.reports[variable].dateAdded;
            cell6.innerHTML = this.reports[variable].content;
            }
        }


    //load all tables
    for (i in reportTable.reports) {
        reportTable.addRow(i)
    }

    function SearchFunctionTeachers() {
    // Declare variables
    var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById("TeacherInput");
    filter = input.value.toUpperCase();
    table = document.getElementById("DataTable");
    tr = table.getElementsByTagName("tr");

    // Loop through all table rows, and hide those who don't match the search query
    for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[2];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
    }
    }

    function SearchFunctionReqs() {
  // Declare variables
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("ReqInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("DataTable");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>
{% endblock %}
