{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}


    <h2 class="mb-3" align='center'>Dashboard</h2>
    <h3> Number of requirements: {{ req.count}}</h3>
    <h3>Number of reports: <span id="ReportCounter"> </span></h3>

    <div class='card'>
    <a href= "{% url 'cid:requirements_all' %}" class='btn btn-primary'> View all requirements</a>
    <br>
    <a href= "{% url 'cid:reports_all' %}" class='btn btn-primary'> View all reports</a>
    </div>

    <script>
        var counter = 0
        {% for reports in req %}
        {% for report in reports.req_report.all %}
        counter += 1
        {% endfor %}
        {% endfor %}
        document.getElementById("ReportCounter").innerHTML = counter;
    </script>

{% endblock %}
