{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
    {% for requirement in req %}
        <div class="card">
            <table class="table mb-0">
                <thead>
                  <tr>
                    <th>Requirement</th>
                    <th>Subject</th>
                    <th>Date</th>
                  </tr>
                </thead>
                <tbody>
                    <tr>
                      <td class="align-middle">{{ requirement.name }}</td>
                      <td class="align-middle">{{ requirement.subject}}</td>
                      <td class="align-middle">{{ requirement.duedate }}</td>
                      </td>
                    </tr>
                    <tr>
                      <td class="align-middle">description:</td>
                      <td class="align-middle">{{ requirement.details}}</td>
                    </tr>
                </tbody>
            </table>

        </div>

    <div class="card">
        <table class="table mb-0">
            <thead>
              <tr>
                <th>Comment Writer</th>
                <th>Date Written</th>
                <th>Content</th>
                <th class="text-right">
                  <a href="{% url 'cid:comment_add' pk=requirement.pk %}" class="btn btn-primary">Add Comment</a>
                </th>
              </tr>
            </thead>
            <tbody>
                {% for comment in requirement.req_comment.all %}
                <tr>
                    <td class="align-middle">{{ comment.writer }} </td>
                    <td class="align-middle">{{ comment.dateAdded }} </td>
                    <td class="align-middle">{{ comment.content}} </td>
                </tr>
                {% empty %}
                <tr>
                    <td class="align-middle"> No comments</td>
                </tr>
                {% endfor %}
            </tbody>


        </table>

    </div>


    {% endfor %}
{% endblock %}
