{% extends 'base.html' %}
{% block head %}
  <style>
      .search {
        background-image: url('/css/searchicon.png'); /* Add a search icon to input */
        background-position: 10px 12px; /* Position the search icon */
        background-repeat: no-repeat; /* Do not repeat the icon image */
        font-size: 16px; /* Increase font-size */
        padding: 12px 20px 12px 40px; /* Add some padding */
        border: 1px solid #ddd; /* Add a grey border */
        margin-bottom: 12px; /* Add some space below the input */
        display: inline;
        width: 100%;
      }
  </style>
{% endblock %}
{% block content %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">My Requirements</li>
    </ol>
  </nav>
  <h2 class="mb-3">My Requirements</h2>
  <a href="{% url 'teachers:req_add' %}" class="btn btn-primary mb-3" role="button">Add a requirement</a>
  <a href="{% url 'teachers:sub_add' %}" class="btn btn-primary mb-3" role="button">Create a subject</a>

  <div class="container-fluid">
  <div class="row">
      <div class="col-lg-6">
          <input type="text" class="search" id="reqInput" onkeyup="SearchFunctionReqs()" placeholder="Search for requirements . . .">
      </div>
      <div class="col-lg-6">
          <input type="text" class="search" id="SubjectInput" onkeyup="SearchFunctionSubjects()" placeholder="Search by subjects . . .">
      </div>
  </div>
  </div>
  <div class="card table-responsive">
    <table id = "DataTable" class="table mb-0">
       <thead class="thead-light">
        <tr>
            <th style="width: 30%">Requirement</th>
            <th style="width: 25%">Subject</th>
            <th style="width: 20%">Due Date</th>
            <th style="width: 25%"></th>
        </tr>
      </thead>
    </table>
  </div>

  <script>

      $(document).ready(function(){})
      // Load Tables
      var reqTable = {
        reqs : [
              {% for requirement in requirements %}
               {
                  name : "{{ requirement.name }}",
                  subject : "{{ requirement.subject}}",
                  dueDate : "{{ requirement.duedate }}",
                  link : String("{% url 'teachers:requirement_change' requirement.pk %}"),
                  loaded : true,
                  overLoaded : false
                }
              {% if not forloop.last  %}
                  ,
              {% endif %}
              {% endfor %}
          ],

          addRow : function(rowdata){
              var table = document.getElementById("DataTable");
              var row = table.insertRow(1);
              var cell1 = row.insertCell(0);
              var cell2 = row.insertCell(1);
              var cell3 = row.insertCell(2);
              var cell4 = row.insertCell(3);
              cell1.innerHTML = rowdata.name;
              cell2.innerHTML = rowdata.subject;
              cell3.innerHTML = rowdata.dueDate;
              cell4.innerHTML = "<a href=" + rowdata.link + " class='btn btn-info'>Requirement Details</a>"

              this.loaded = true;
              }
          }

      //load all tables
      for (var i = 0; i < reqTable.reqs.length; i++) {
        reqTable.addRow(reqTable.reqs[i])
      }

      function SearchFunctionReqs() {
    // Declare variables
    var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById("reqInput");
    filter = input.value.toUpperCase();
    table = document.getElementById("DataTable");
    tr = table.getElementsByTagName("tr");

    // Loop through all table rows, and hide those who don't match the search query
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[0];
      if (td) {
        txtValue = td.textContent || td.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }
    }
  }

  function SearchFunctionSubjects() {

  // Declare variables
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("SubjectInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("DataTable");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[1];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
  }

  </script>
{% endblock %}
