{% extends 'base.html' %}

{% block head %}
<!-- Fengyuan Chen’s Datepicker -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" integrity="sha256-b88RdwbRJEzRx95nCuuva+hO5ExvXXnpX+78h8DjyOE=" crossorigin="anonymous" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js" integrity="sha256-/7FLTdzP6CfC1VBAj/rsp3Rinuuu9leMRGd354hvk0k=" crossorigin="anonymous"></script>

<style>
    .search {
      background-image: url('/css/searchicon.png'); /* Add a search icon to input */
      background-position: 10px 12px; /* Position the search icon */
      background-repeat: no-repeat; /* Do not repeat the icon image */
      font-size: 16px; /* Increase font-size */
      padding: 12px 20px 12px 40px; /* Add some padding */
      border: 1px solid #ddd; /* Add a grey border */
      margin-bottom: 12px; /* Add some space below the input */
      display: inline;
      width: 100%;
    }

</style>

{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'teachers:req_change_list' %}">My Requirements</a></li>
      <li class="breadcrumb-item active" aria-current="page">Add a New Requirement</li>
    </ol>
  </nav>
  <h2 class="mb-3">Add a New Requirement</h2>
  <div class="row">
    <div class="col-md-6 col-sm-8 col-12">
      <form method="post" novalidate>
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-success">Add</button>
      </form>
    </div>
  </div>

  <h2 class="mb-3">Check a Section's Requirements</h2>

  <div class="container-fluid">
  <div class="row">
      <div class="col-lg-6">
          <input type="text" class="search" id="reqInput" onkeyup="SearchFunctionReqs()" placeholder="Search for requirements . . .">
      </div>
      <div class="col-lg-6">
          <input type="text" class="search" id="SubjectInput" onkeyup="SearchFunctionSubjects()" placeholder="Search by subjects . . .">
      </div>
  </div>
  </div>

  <table id = "DataTable" class="table mb-0">
      <tr>
          <th> Requirement </th>
          <th> Subject </th>
          <th> Due Date </th>
      </tr>
  </table>

  <script>



      $(document).ready(function(){})

      // Load Tables

      var reqTable = {
          reqs : {
              {% for requirement in requirement %}
               {{ requirement.name|cut:" "  }} : {
                  section: "{{requirement.subject.section}}",
                  subject : "{{ requirement.subject}}",
                  name : "{{ requirement.name }}",
                  dueDate : "{{ requirement.duedate }}",
                  loaded : true,
                  overLoaded : false
                  }
              {% if not forloop.last  %}
                  ,
              {% endif %}
              {% endfor %}
          },


          addRow : function(variable){
              var table = document.getElementById("DataTable");
              var row = table.insertRow(1);
              var cell1 = row.insertCell(0);
              var cell2 = row.insertCell(1);
              var cell3 = row.insertCell(2);
              var cell4 = row.insertCell(3);
              cell1.innerHTML = this.reqs[variable].section;
              cell2.innerHTML = this.reqs[variable].subject;
              cell3.innerHTML = this.reqs[variable].name;
              cell4.innerHTML = this.reqs[variable].dueDate;

              this.loaded = true;
              }
          }

      //load all tables
      for (i in reqTable.reqs) {
          reqTable.addRow(i)
      }

      function SearchFunctionReqs() {
    // Declare variables
    var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById("reqInput");
    filter = input.value.toUpperCase();
    table = document.getElementById("DataTable");
    tr = table.getElementsByTagName("tr");

    // Loop through all table rows, and hide those who don't match the search query
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[0];
      if (td) {
        txtValue = td.textContent || td.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }
    }
  }

  function SearchFunctionSubjects() {

  // Declare variables
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("SubjectInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("DataTable");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
  td = tr[i].getElementsByTagName("td")[1];
  if (td) {
    txtValue = td.textContent || td.innerText;
    if (txtValue.toUpperCase().indexOf(filter) > -1) {
      tr[i].style.display = "";
    } else {
      tr[i].style.display = "none";
    }
  }
  }
  }

  </script>

  <script>
    $(function () {
      $("#id_duedate").datepicker({
        format:'mm/dd/yyyy',
      });
    });
    $('#id_duedate').attr('autocomplete','off');
  </script>
{% endblock %}
