{% extends 'base.html' %}

{% block head %}
<!-- Fengyuan Chen’s Datepicker -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" integrity="sha256-b88RdwbRJEzRx95nCuuva+hO5ExvXXnpX+78h8DjyOE=" crossorigin="anonymous" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js" integrity="sha256-/7FLTdzP6CfC1VBAj/rsp3Rinuuu9leMRGd354hvk0k=" crossorigin="anonymous"></script>

<style>
    .search {
      background-image: url('/css/searchicon.png'); /* Add a search icon to input */
      background-position: 10px 12px; /* Position the search icon */
      background-repeat: no-repeat; /* Do not repeat the icon image */
      font-size: 16px; /* Increase font-size */
      padding: 12px 20px 12px 40px; /* Add some padding */
      border: 1px solid #ddd; /* Add a grey border */
      margin-bottom: 12px; /* Add some space below the input */
      display: inline;
      width: 100%;
    }

</style>

{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'teachers:req_change_list' %}">My Requirements</a></li>
      <li class="breadcrumb-item active" aria-current="page">Add a New Requirement</li>
    </ol>
  </nav>
  <div class="row">
    <div class="col-md-5">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title mb-3">Add a New Requirement</h3>
          <form method="post" novalidate>
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-success">Add</button>
            <a href="{% url 'teachers:req_change_list' %}" class="btn btn-outline-secondary" role="button">Cancel</a>
          </form>
        </div>
      </div>
    </div>

    <div class="col-md-7">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title mb-3">Check a Section's Requirements</h3>
          <div class="container-fluid">
          <div class="row">
              <div class="col-lg-6">
                  <input type="text" class="search" id="sectionInput" onkeyup="SearchFunctionSection()" placeholder="Search for section . . .">
              </div>
              <div class="col-lg-6">
                  <input type="text" class="search" id="dateInput" onkeyup="SearchFunctionDate()" placeholder="Search by date . . .">
              </div>
          </div>
          </div>
          <div class="container-fluid">
            <div class="row">
              <div class="col-lg-6">
                  <input type="text" class="search" id="subjectInput" onkeyup="SearchFunctionSubject()" placeholder="Search for subject . . .">
              </div>
              <div class="col-lg-6">
                  <input type="text" class="search" id="reqInput" onkeyup="SearchFunctionReqs()" placeholder="Search by requirement . . .">
              </div>
            </div>
          </div>

          <div class="table-responsive">
          <table id="DataTable" class="table mb-0">
              <tr>
                  <th> Section </th>
                  <th> Subject </th>
                  <th> Requirement </th>
                  <th> Due Date </th>
              </tr>
          </table>
          </div>

        </div>
      </div>
    </div>
  </div>

  <script>

      $(document).ready(function(){})

      // Load Tables

      var reqTable = {
          reqs : {
              {% for requirement in requirement %}
               {{ requirement.name|cut:" "  }} : {
                  section: "{{requirement.subject.section}}",
                  subject : "{{ requirement.subject}}",
                  name : "{{ requirement.name }}",
                  dueDate : "{{ requirement.duedate }}",
                  loaded : true,
                  overLoaded : false
                  }
              {% if not forloop.last  %}
                  ,
              {% endif %}
              {% endfor %}
          },


          addRow : function(variable){
              var table = document.getElementById("DataTable");
              var row = table.insertRow(1);
              var cell1 = row.insertCell(0);
              var cell2 = row.insertCell(1);
              var cell3 = row.insertCell(2);
              var cell4 = row.insertCell(3);
              cell1.innerHTML = this.reqs[variable].section;
              cell2.innerHTML = this.reqs[variable].subject;
              cell3.innerHTML = this.reqs[variable].name;
              cell4.innerHTML = this.reqs[variable].dueDate;

              this.loaded = true;
              }
          }

      //load all tables
      for (i in reqTable.reqs) {
          reqTable.addRow(i)
      }

      // looking for conflicts when teacher sets the date na
      function getCol(matrix, col){
           var column = [];
           for(var i=0; i<matrix.length; i++){
              column.push(matrix[i][col]);
           }
           return column;
        }
      var subjectSectionDict = [[]]
      for (req in reqTable.reqs){

          if (!(getCol(subjectSectionDict,0).includes(reqTable.reqs[req].subject))){
              subjectSectionDict.push([reqTable.reqs[req].subject, reqTable.reqs[req].section])
          }
      }

      var loads = []
      var sections = []
      var dates = []
      for (req in reqTable.reqs){
          if (!(sections.includes(reqTable.reqs[req].section))){
              sections.push(reqTable.reqs[req].section)
          }
      }
      for (req in reqTable.reqs){
          newdate = new Date(reqTable.reqs[req].dueDate)
          if (!(dates.includes(newdate))){
              dates.push(newdate)
          }
      }
      //[section,[[date,number],[date,number]]]
      for (i in sections) {
          loads.push([sections[i],[]])
      }

      for(req in reqTable.reqs){
          section = reqTable.reqs[req].section
          dueDate = new Date(reqTable.reqs[req].dueDate)
          for (i in loads) {
              if (loads[i][0] == section){
                  loads[i][1].push(dueDate)
              }
          }
      }

      var sectionLoads = {}
      for (i in sections) {
          sectionLoads[sections[i]] = {}
      }
      for (i in loads) {
          var section = loads[i][0]
          var dates = loads[i][1]
          var counts = {}
          for (var i = 0; i < dates.length; i++) {
            var date = dates[i]
            if (!counts[date]){
                counts[date] = 1
            } else {
                counts[date]++
            }
          }
          sectionLoads[section] = counts


      }

      var subjectinput = document.getElementsByClassName("select form-control")[0];
      var dateinput = document.getElementsByClassName("dateinput form-control")[0];
      subjectinput.addEventListener("input", checkConflict);
      document.addEventListener("click", checkConflict);
      dateinput.addEventListener("mouseleave", checkConflict);
      var subValNum, subValue, dateValue, sectionValue


      function checkConflict(){
          subValNum = subjectinput.value;
          dateValue = new Date(dateinput.value)

          optionList = []
          for (i in document.getElementsByClassName("select form-control")[0].options) {
              optionList.push([document.getElementsByClassName("select form-control")[0].options[i].value ,
              document.getElementsByClassName("select form-control")[0].options[i].innerHTML
              ])
          }

          for (i in optionList) {
              if (optionList[i][0] == subValNum) {
                  subValue = optionList[i][1]
              }
          }
          for (i in subjectSectionDict) {
              if (subjectSectionDict[i][0] == subValue) {
                  sectionValue = subjectSectionDict[i][1]
              }
           if (!(getCol(subjectSectionDict,0).includes(subValue))){
                  sectionValue = "None"
              }

          }

          if (sectionLoads[sectionValue][dateValue] >= 2){
              dateinput.style.background = 'red'
          } else {
              dateinput.style.background = 'white'
          }

      }

      //finally









      function SearchFunctionReqs() {
    // Declare variables
    var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById("reqInput");
    filter = input.value.toUpperCase();
    table = document.getElementById("DataTable");
    tr = table.getElementsByTagName("tr");

    // Loop through all table rows, and hide those who don't match the search query
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[2];
      if (td) {
        txtValue = td.textContent || td.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }
    }
  }

  function SearchFunctionSubject() {

  // Declare variables
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("subjectInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("DataTable");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
  td = tr[i].getElementsByTagName("td")[1];
  if (td) {
    txtValue = td.textContent || td.innerText;
    if (txtValue.toUpperCase().indexOf(filter) > -1) {
      tr[i].style.display = "";
    } else {
      tr[i].style.display = "none";
    }
  }
  }
  }

  function SearchFunctionDate() {

  // Declare variables
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("dateInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("DataTable");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
  td = tr[i].getElementsByTagName("td")[3];
  if (td) {
    txtValue = td.textContent || td.innerText;
    if (txtValue.toUpperCase().indexOf(filter) > -1) {
      tr[i].style.display = "";
    } else {
      tr[i].style.display = "none";
    }
  }
  }
  }

  function SearchFunctionSection() {

  // Declare variables
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("sectionInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("DataTable");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
  td = tr[i].getElementsByTagName("td")[0];
  if (td) {
    txtValue = td.textContent || td.innerText;
    if (txtValue.toUpperCase().indexOf(filter) > -1) {
      tr[i].style.display = "";
    } else {
      tr[i].style.display = "none";
    }
  }
  }
  }

  </script>
  <script>
    $(function () {
      $("#id_duedate").datepicker({
        format:'mm/dd/yyyy',
      });
    });
    $('#id_duedate').attr('autocomplete','off');
  </script>
{% endblock %}
