{% extends 'base.html' %}

{% block content %}
  <h2>Welcome to Trackle!</h2>
  <p class="lead">
    If you already have an account, go ahead and <a href="{% url 'login' %}">log in</a>. If it's your first time at Trackle, get started
    by creating a <a href="{% url 'student_signup' %}">student account</a> or a <a href="{% url 'teacher_signup' %}">teacher account</a>!
  </p>
  <hr>
  <h3>What is Trackle?</h3>
  <p>
    Trackle is a web application for tracking the requirements of the PSHS-MC student body. It aims to replace the current Matrix of Requirement used
    by the school by making the tracking of requirements easier and more efficient. It also allows students to see the schedule of their requirements,
    allowing them to plan proactively and raise concerns earlier.
  <hr>
    <small>Trackle was created by research group R2-A2-07, composed of Arvin de Guzman,
    Josh Ludan, and Lorenzo Reyes.</small>
  </p>
{% endblock %}
